


<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135071630-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135071630-1');
</script>
</head>

<footer class="page-footer font-small blue pt-4" >

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

        

			<aside id="newsletterwidget-4" class="widget widget_newsletterwidget"><div class="tnp tnp-widget"><form method="post" action="https://www.tedxcairouniversity.com/?na=s" onsubmit="return newsletter_check(this)">


</form>
</div>
</aside>				</div>
        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
           

          </div>
          <!-- Grid column -->

        

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
    
      
      © 2020 Copyright:
      <a href="fb.com/ITzMarvelOus">Colorify Team</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
