
*.npy
*.npy
*.npy
model/pts_in_hull.npy
model/pts_in_hull.npy
model/colorization_deploy_v2.prototxt
model/colorization_release_v2.caffemodel
model/desktop.ini
model/pts_in_hull.npy
*.iml
.idea/Color-IT.iml
.idea/misc.xml

.idea/

Colorization/Human Dataset Notebook/kaggle/vgg16_weights_tf_dim_ordering_tf_kernels.h5

*.mp4
node_modules
Color_Propagation/__pycache__/

Input_and_Output/
venv/
Colorization/__pycache__/

__pycache__/
