.team-main{
    width:100%;
    height:auto;
    margin:0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom:100px;
    background-color: #ebecef;
    
}
.team-main h1{
    color:#454cad;
    margin-bottom: 10px;
    padding-top: 40px;

}
.team-main hr{
    width:50px;
    margin:0 auto;
    margin-bottom: 4%;
    border: solid 1.2px #454cad;
}
.team-box{
    margin:0 auto;
    width:80%;
    display:grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.social-links{

    margin-top: 12px;
}
.social-links img{
    width:25px;
    height:25px;
    margin-right:10px;
}

@media only screen and (max-width: 1350px) {


.team-box{

    grid-template-columns: none;
    
}

}