.member-image {
    margin-left:40px;
    margin-bottom:35px;
}
.profile-pic{
    width:260px;
    height:260px;
    border-radius:200px;
    filter: grayscale(100%);
    
}
.profile-pic:hover{

    filter: grayscale(0%);
    transition: filter 0.5s;
}
.member-image p{
    color:#007bff;
    font-size:22px;
    margin-top: 10px;
    font-weight: bold;
    
}