.header{
    
    background-size: cover;
    height:800px;
    width:100%;
    
}
.header{
    transition: background-image  1s linear;
}
.header-bar{
    height:70px;
    background-color:transparent;
    opacity:1;
    border-bottom: solid 1px #454cad;
}
.nav-menu  {
    float:right;
}

.selected {
    text-decoration: none;
    color:white;
    text-align:center;
    background-color: #454cad;
    border-radius: 20px;
    transition: background-color  0.3s linear;
    
}
.nav-menu  a {
    text-decoration: none;
    color:white;
    text-align:center;
   
    padding: 10px 20px;
    
}
.nav-menu ul li{

    list-style: none;
    float: left;
    margin-right:30px;
    font-size: 24px;
    margin-top:20px;
}
.logo{
    float:left;
}
.logo img{
    height:65px;
    width:65px;
    float:left;
}
.logo p{
    color:white;
    float:right;
    margin-top:17px;
    margin-left:10px;
    font-size:30px;
}
.triangle-left,
.triangle-right{
  width: 0;
  height: 0;
  position:absolute;
  top:40%;
  transition: all 0.2s linear;
}
.triangle-left,
.triangle-right{
  border-top:
    18px solid transparent;
  border-bottom:
    18px solid transparent;
    transform: translateY(-50%);
  
}
.triangle-right{
    border-left: 30px solid white;
    right:10px;
}
.triangle-left{
    border-right:30px solid white;
    left:10px;
}
.triangle-left:hover{

    transform: translate3d(-5px, 0, 0);
}
.triangle-right:hover{

    transform: translate3d(5px, 0, 0);
}
.main-text{
    color:white;
    text-align: center;
    margin-top:240px;
}
.main-text h1{
    font-size:45px;
}
.main-text p{
    margin-top:20px;
    font-size:25px;
}