.upload-main{
    width:50%;
    margin:0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom:100px;
}
.upload-main h1{
    color:#454cad;
    margin-bottom: 10px;

}

.upload-main hr{
    width:50px;
    margin:0 auto;
    margin-bottom: 2%;
    border: solid 1.2px #454cad;
}
.upload-title{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 1;
    color: #454cad;
}
.upload-box p{
    color:#5f6982;
    margin-bottom:20px;
}
.upload-box{
    padding:60px 70px;
    background-color:white;
    color:#454cad;
    margin-top:20px;
    width:512px;
    
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    border: 3px solid #eee;
    transition: border 1s;

    cursor: pointer;
}
.upload-box:hover{
    transition: border 0.9s;
    border: 3px solid #454cad;
    
}
.upload-icon{
    width:100px;
    height:100px;
    margin-bottom:25px;

}
.select-photo{
    display: inline-block;
    margin: .5rem .5rem 1rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
}
.c-button{
    font-size: 20px;
    display: none;
}
.c-button:hover{
    background: #5b62c2;
}

#image-preview{
    margin:0 auto;
    border:dotted 2px #454cad;
    width:250px;
    height:250px;
}








@font-face {
	font-family: 'icomoon';
	src:url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?-9haulc');
	src:url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?#iefix-9haulc') format('embedded-opentype'),
		url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.woff?-9haulc') format('woff'),
		url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.ttf?-9haulc') format('truetype'),
		url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.svg?-9haulc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';

	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
	content: "\e000";
}

@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.spinner {
    /* inline-block */
	font-size:4em;
	height: 1em;
	line-height: 1;
	margin: .5em;
	animation: anim-rotate 2s infinite linear;
	color: #5b62c2;
	text-shadow: 0 0 .25em rgba(255,255,255, .3);
}
.spinner--steps {
	animation: anim-rotate 1s infinite steps(8);
}
#loading-icon{
    display:none;
}
#image-black{
    opacity:1;
    clip:rect(0px,256px,512px,0px);
    z-index:1000;
}
#black-color-images{
    display:grid;
    grid-template-columns: auto auto;
}
#black-color-images img{
    width:512px;
    height:512px;
}
#image-color{
    border:solid 2px black;
    transition:all 1s ease-in;
}
.vl{
    border-left: 8px solid gray;
    height: 513px;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-99%);
    z-index:1000;
    cursor: ew-resize;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    margin-left: 30px;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: rgb(168, 125, 248);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.model{
    margin-bottom: 20px;
}
#video-embed{
    height:250px;
    width:250px;
}