
.text-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
      margin: 0 auto 20px auto;
  }


  
.centered {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    text-align:center;
    margin: 15px;
  }
  
  .error {
    position: fixed;
    left: 20px;
    bottom: 20px;
  }
  
  .hero-section h1 {
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    margin: 25px;
    color: #FFEFA1;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .hero-section p {
    /*font-family: 'Open Sans', sans-serif;*/
    color: #eeeeee;
    font-style: italic;
    z-index: 1;
  }
  
  .hero-section {
    text-align: center;
    flex-direction: column;
    padding-top: 100px;
  }
  .toolbar {
    height: 450px;
  }
  mat-toolbar {
    background-color: #9D819D;
  }
  

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid #9D819D;
    color: #9D819D;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .drop-image {    height: 300px;
    width: 600px;
    display: table;
  
    background-color: #f6f6f6;
    background-image: url("../../assets/up22.jpeg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center 0;
    padding-top: 120px;
    margin: 160px auto 20px auto;
   
    outline: 2px dashed #CCCCCC;
    color: #a4a4a4;
    outline-offset: -10px;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transform: translateY(-120px);
  }